.layoutStyle{
  height: 100vh;
  background-color: #fff;
  overflow: auto;
}

.headerStyle{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e8ecf2;
  background-color: #e6ece6;
  
}

.contentStyle{
  margin: 0 auto;
  min-width: 1200px;

}
