.newsContent{
  margin-top: 50px;
  width: 1200px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.newsContent pre,.newsContent p,.newsContenth1,.newsContent h2{
  white-space: normal;
}

.newsContent img{
  width: 100%;
}