.layoutStyle{
  height: 100vh;
  background-color: #edf0ef;
  overflow: auto;
}

.headerStyle{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e8ecf2;
  background-color: #e6ece6;
}

.contentStyle{
  margin: 0 auto;
  width: 100%;

  overflow: auto;
}

.footerStyle{
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  height: 40px;
  background-color: #e6ece6;
}